In [1]:

## Q1. Create one variable containing following type of data:

In [2]:
#string

In [6]:
a = "Anamika"

In [5]:
#list

In [9]:
l = [1,2,23,32,44,2234,"pavan",True,False,33]

In [10]:
#float

In [11]:
s = 44.44

In [13]:
#tuple

In [15]:
tuple = [232,2323,3,"car","bike","aroplane",True,False]

In [16]:
#Q2. Given are some following variables containing data:

In [18]:
var1 = ''

In [19]:
type(var1)

str

In [30]:
var2 = '[ DS , ML , Python]'

In [31]:
type(var2)

str

In [32]:
var3 = ['DS','ML','python']

In [33]:
type(var3)

list

In [25]:
var4 = 1

In [26]:
type(var4)

int

In [ ]:
#Q3. Explain the use of the following operators using an example:

In [34]:
result = 10 / 3
print(result)

3.3333333333333335

In [35]:
remainder = 10 % 3
print(remainder)

1

In [36]:
result = 10 // 3
print(result)

3

In [37]:
result = 2 ** 3
print(result)

8

In [38]:
##Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [41]:
my_list = [1,3,323,232,3233,7.77,"pavan",True,False,888.888]
for i in my_list:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'float'>

In [42]:
#Que.5Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [47]:
# Input the values of A and B
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

# Initialize a count variable to keep track of how many times A can be divided by B
count = 0

# Use a while loop to check divisibility and count
while A % B == 0:
    A = A // B  # Divide A by B and update A
    count += 1   # Increment the count

# Check if A becomes 1, which means it was purely divisible by B
if A == 1:
    print(f"{count} times purely divisible by {B}")
else:
    print(f"{B} is not a divisor of the original number.")

Enter the number A:  77
Enter the number B:  88

88 is not a divisor of the original number.

In [48]:
#Que.6 Create a list containing 25 int type data. Using for loop and if-else condition print if the element isdivisible by 3 or not.

In [49]:
l = [10,12,1212,112,112,22,32,221,121,212,122,1212,454,54,54,34,343,344,5,5,543,433,5554,433,6353]
 for i in l:
        if i % 3 == 0:
            print("{i} is divisible by 3")
        else:
            print("{i} is not divisible by 3")

IndentationError: unexpected indent (2604444403.py, line 2)

In [ ]:
##Q7. What do you understand about mutable and immutable data types? Give examples for both showingthis property.

In [50]:
##immutable

In [51]:
original_string = "Hello"
modified_string = original_string + ", World!"  # This creates a new string
print(original_string)  # Output: "Hello" (original_string is unchanged)
print(modified_string)  # Output: "Hello, World!" (a new string is created)

Hello
Hello, World!

In [52]:
##mutable

In [53]:
original_list = [1, 2, 3]
original_list.append(4)  # Modifies the original list
print(original_list)  # Output: [1, 2, 3, 4] (original_list is modified)

[1, 2, 3, 4]